! ================================================== !
! __  __                                             !
! \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___  !
!  \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __| !
!  /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \ !
! /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/ !
! 						     !
! ================================================== !

URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt*depth: 32
URxvt.background: #0a0a0a
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False
URxvt.foreground: #ffffff
URxvt.font: xft:Hack:pixelsize=14
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007


! Special
*.background:       #ffffff
*.foreground:       #ffffff
*.accent:           #ffffff
*.cursorColor:      #eb1540

! black
URxvt.color0  : #2E3436
URxvt.color8  : #555753
! red
URxvt.color1  : #eb1540
URxvt.color9  : #eb1540
! green
URxvt.color2  : #4E9A06
URxvt.color10 : #8AE234
! yellow
URxvt.color3  : #C4A000
URxvt.color11 : #FCE94F
! blue
URxvt.color4  : #03a9f4
URxvt.color12 : #03a9f4
! magenta
URxvt.color5  : #75507B
URxvt.color13 : #AD7FA8
! cyan
URxvt.color6  : #03a9f4
URxvt.color14 : #03a9f4
! white
URxvt.color7  : #D3D7CF
URxvt.color15 : #EEEEEC

Xcursor.size: 16

!  ROFI

rofi.show-icons:            true
rofi.modi:                  drun,run,window,ssh
rofi.lines:                 5
rofi.line-padding:          7
rofi.matching:              fuzzy
rofi.bw:                    0
rofi.padding:               0
rofi.separator-style:       none
rofi.hide-scrollbar:        true
rofi.line-margin:           0
rofi.font:                  Hack 14
rofi.theme:		    ~/.config/rofi/config.rasi
